body {
  background-image: url("../images/bg.png");

  background-repeat: no-repeat;
  height: 80%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  font-family: Arial;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.water {
  padding: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  color: rgb(100, 100, 100);
}

.navbar {
  width: 80%;
  left: 10%;
}

.Bx {
  width: 100%;
  padding: 10px;
  height: 786px;
  margin: 0;
  background-color: rgb(0, 60, 255);
  /* color: rgb(255, 255, 255); */
}
.notices {
  top: 129%;
  position: absolute;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  padding-left: 70px;
  float: left;
  width: 69%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 30px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* NOTICES */
.col-lg-3 {
  padding-left: 23%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row {
  align-content: center;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
