body {
  padding: 0;
  margin: 0;

  font-family: Arial;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.water {
  padding: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: rgb(0, 0, 0);
}

.navbar {
  width: auto;
  left: 10%;
}

.Bx {
  width: 100%;
  padding: 10px;
  height: 786px;

  background-color: #2384eb;
}
.notices {
  border-top: 10px solid white;

  background-color: rgb(71, 71, 71);
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.head_text {
  color: white;
}

.card {
  box-shadow: 0 16px 48px #e3e7eb;
}
.masthead {
  background-color: #2384eb;
}

.loading {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
