* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.top-section {
  background-color: #00303f;
}
.fa-user {
  color: aliceblue;
}
.fa-globe {
  color: aliceblue;
  /* font-size: 25px; */
}
.fa-phone-alt {
  color: aliceblue;
}
.fa-youtube,
.fa-map-marker-alt {
  color: red;
}
.fa-phone-volume {
  color: rgb(36, 172, 126);
}
.fa-envelope {
  color: rgb(75, 66, 197);
}
.fa-facebook {
  color: aliceblue;
}
.fa-instagram {
  color: #e81616;
}
.fa-twitter {
  color: #0193fd;
}
.fa-angle-down {
  color: white;
}
.fa-map-marked-alt {
  color: #08af40;
}
.fa-user-secret {
  color: #0193fd;
}

.hero{
  width: 100%;
}

.hero img{
  height: 20vh;

  width: 100%;
}


.item-at-carousel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.7;
}

.carousel-caption h5 {
  font-size: 20px !important;
  top: 2rem;
}

.searchReal {
  margin-bottom: 50px !important;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: #3d5afe;
}

.line1 {
  color: #000;
  font-size: 12px;
}

.line2 {
  color: #000;
  font-size: 12px;
}

.line3 {
  color: #000;
  font-size: 12px;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/*buttons */
.btn-login-reg-navbar {
  width: 100px;
  outline: none;
  color: white;
  background-color: #4536ba !important;
}
.btn-login-reg-navbar:hover {
  color: white;
  background-color: #6053c3 !important;
}

.house-land-rent-btn {
  color: white;
  background-color: #680788 !important;
}

.house-land-rent-btn:hover {
  color: white;
  background-color: #901cb4 !important;
}

.search-buy-rent-btn {
  color: #4a17a6;
  border-color: #4a17a6;
}

.search-buy-rent-btn:hover {
  color: white;
  border-color: #4a17a6;
  background-color: #4a17a6;
}
.see-all-btn {
  color: white;
  background-color: #48260d !important;
}

.see-all-btn:hover {
  color: white;
  background-color: #1a0c03 !important;
}
.gotoDetailsPage4 {
  cursor: pointer;
}
/*end of buttons*/
/* .nav-item{
    margin: 2px;
} */
.nav-item > a:focus {
  /* border-bottom: 2px solid green; */
  color: white !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card {
  border: none;
  border-radius: 10px;
}

.percent {
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  height: 35px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wishlist {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
}

.img-container {
  position: relative;
}

.img-container .first {
  position: absolute;
  width: 100%;
}

.img-container img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-detail-container {
  padding: 10px;
}

.ratings i {
  color: #a9a6a6;
}

.ratings span {
  color: #a9a6a6;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #35dca4;
  color: #4f20a7;
  font-size: 10px;
  border-radius: 50%;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: #66b1ab;
  background-color: #38a0ad;
  color: #fff;
}

/*go to top button*/
#myBtnn {
  /* display: none; */
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  /* border: none;
        outline: none; */
  background-color: rgb(12, 11, 11);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.fa-universal-access {
  color: #0193fd;
  /* background-color: black; */
}

/*loading */

.loading {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 15px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
