<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bill.css">
    <title>Bill Payment</title>
</head>

<body>
    <div class="box">
        <form>
            <div class="heading"><p>Bill Payment</p><br></div>
            <label for="rdm">Reading Month</label>
            <input placeholder="Reading Month" class="user-input" type="text" id="" name="">
            <br>
            <label for="rdm">Reading Date</label>
            <input placeholder="Reading Date" class="user-input" type="date" id="" name="">
            <br>
            <label for="rdm">Office code</label>
            <input placeholder="Office code" class="user-input" type="text" id="" name="">
            <br>
            <label for="rdm">Province</label>
            <input placeholder="Province" class="user-input" type="text" id="" name="">
            <br>
            <label for="rdm">Ward</label>
            <input placeholder="Ward" class="user-input" type="text" id="" name="">
            <br>
            <label for="rdm">Customer id</label>
            <input placeholder="Customer id" class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Name</label>
            <input placeholder="Name" class="user-input" type="text" id="" name="">
            <br>
            <label for="rdm">Contact No.</label>
            <input placeholder="Contact no." class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Previous Unit</label>
            <input placeholder="Previous Unit" class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Current Unit</label>
            <input placeholder="Consumed Unit" class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Consumed Unit</label>
            <input placeholder="Consumed Unit" class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Meter Status</label>
            <input placeholder="Meter Status" class="user-input" type="text" id="" name="">
            <br>
            <label for="rdm">Bill Amount</label>
            <input placeholder="Bill Amount" class="user-input" type="number" id="" name="">
            <br>
            <label for="number">Due Amount</label>
            <input placeholder="Due Amount" class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Outstanding Amount</label>
            <input placeholder="Outstanding Amount" class="user-input" type="number" id="" name="">
            <br>
            <label for="rdm">Advance Amount</label>
            <input placeholder="Advance Amount" class="user-input" type="number" id="" name="">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>