<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="meterReplacement.css">
    <title>Meter Replacement</title>
</head>

<body>
    <div class="box">
        <h3><strong><a href="">Meter Replacement</a></strong></h3>
        <div class="row">
            <div class="column">
                <div class="form-group">

                    <label>Province:</label>
                    <input placeholder="Province">
                    <br><br>

                    <label>District:</label>
                    <input placeholder="District">
                    <br><br>

                    <label>Municipality:</label>
                    <input placeholder="Municipality">
                    <br><br>
                    <!-- <hr> -->

                    <label>Customer Id:</label>
                    <input placeholder="cannot be changed">
                    <br><br>

                    <label>Old meter number:</label>
                    <input placeholder="cannot be changed">
                    <br><br>

                    <label>Address:</label>
                    <input placeholder="cannot be changed" type="">
                    <br><br><br><br>

                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <button class="button">Submit</button>
                            </div>
                        </div>

                        <div class="column">
                            <div class="form-group">
                                <button class="button">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</body>

</html>