{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{%  block css_files %}
    <link rel="stylesheet" href="{% static 'user_view/css/meterReplacement.css' %}">
    
{% endblock %}

{% block content %}
{{ data|json_script:'name' }}
    <form method = "post">{% csrf_token %}
    <div class="box">
        <h3><strong><a href="">Meter Replacement</a></strong></h3>
        <div class="row">
            <div class="column">
                <div class="form-group">

                    <label>Office Code:</label>
                    <input name = "office_code" id="office_code">
                    <br><br>

                    <label>Province:</label>
                    <input name = "province" id="Province" readonly>
                    <br><br>

                    <label>District:</label>
                    <input name="district" id="District" readonly>
                    <br><br>

                    <label>Municipality:</label>
                    <input name="municipality" id="Municipality" readonly>
                    <br><br>
                    <!-- <hr> -->

                    {{form.customer_id.label_tag}}
                    {{form.customer_id}}
                    <br><br>

                    {{form.contact.label_tag}}
                    {{form.contact}}
                    <br><br>

                    {{form.street.label_tag}}
                    {{form.street}}
                    {{form.error.0}}
                    <br><br><br><br>

                    
                                <button style="margin-left:25px;margin-bottom:15px;" type="submit" class="btn btn-secondary">Submit</button>
                           
                        
                    </div>

                </div>
            </div>




        </div>
    </div>
</form>
 <!--loading-->
 <div class="loading hidden">
    <img src="{% static 'user_view/images/loading.gif' %}" alt="loading...">
  </div>
    <!--end of loading-->
<script src="{% static 'user_view/js/meterReplacement.js' %}"></script>
{% endblock %}