<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="newDhara.css">

</head>

<body>
    <div class="box">
        <h1>New Tap Apply</h1>
        <div class="row">
            <div class="column">
                <div class="form-group">

                    <label>Office code</label>
                    <input type="number" placeholder="Office code">

                    <label>Province:</label>
                    <input type="text" placeholder="Province">

                    <label>District:</label>
                    <input type="text" placeholder="District">

                    <label>Municipality:</label>
                    <input type="text" placeholder="Municipality">

                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" placeholder="First name">

                    <label>Last name:</label>
                    <input type="text" placeholder="Last name">

                    <label>House number</label>
                    <input type="number" placeholder="House number">

                    <label>Contact number:</label>
                    <input type="number" placeholder="Contact number">

                    <label>Email:</label>
                    <input type="email" placeholder="Email">
                </div>
            </div>

            <div class="column">
                <label>Middle name</label>
                <input placeholder="Middle name">
            </div>
        </div>

        <label>Please attach citizenship</label>
        <input type="file">

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <button class="button1">Submit</button>
                </div>
            </div>

            <div class="column">
                <div class="form-group">
                    <button class="button2">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>