{% load static %}
<html>
  <head>
    <title>
      Webslesson Tutorial | JSON - Dynamic Dependent Dropdown List using Jquery
      and Ajax
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    {{ data|json_script:'name' }}

    <br /><br />
    <div class="container" style="width: 600px">
      <h2 align="center">Payment</h2>
      <br /><br />
      <select name="province" id="province" class="form-control input-lg">
        <option value="">Select province</option>
      </select>
      <br />
      <select name="district" id="district" class="form-control input-lg">
        <option value="">Select district</option>
      </select>
      <br />
      <select
        name="municipality"
        id="municipality"
        class="form-control input-lg"
      >
        <option value="">Select municipality</option>
      </select>
    </div>
    <script src="{% static 'user_view/js/payment.js' %}"></script>
  </body>
</html>
