{% extends "base.html" %} {% load static %}
{% block title %} Bill Payment {% endblock %}
 
{% block css_files %} 

<link rel="stylesheet" href="{% static 'user_view/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'user_view/css/payment.css' %}">
{% endblock %}
 
{% block content %}

    {{ data|json_script:'name' }}

    <br /><br />     
         
      


    

      <form class="signup-form" method="post">
      {% csrf_token %}
      <div class="box">
        <h1>Bill Payment</h1>
        <div class="row">
          <div class="column">
            <div class="form-group">
    
              <label for="province">Province:</label>
        


        <select name="province" id="province" class= "combo-box">
          <option value="">Select province</option>
        </select>
    
              <br><br>
    
              <label for="district"  >District:</label>
        <select name="district" id="district" class= "combo-box" >
          <option value="">Select district</option>
        </select>
    
              <br><br>
    
              <label for="municipality" >Municipality:</label>
      <select name="municipality" id="municipality" class= "combo-box">
        <option value="">Select municipality</option>
      </select>
    
            </div>
          </div>
    
          <div class="column">
            <div class="form-group">
             
              {{form.reading_month.label_tag}}
              {{form.reading_month}}
    
              <br><br>
    
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="column">
            <div class="form-group">
              {{form.customer_id.label_tag}}
              {{form.customer_id}}
    
              <br><br>
    
              {{form.customer_name.label_tag}}
              {{form.customer_name}}
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="column">
            <div class="form-group">
              {{form.previous_unit.label_tag}}
              {{form.previous_unit}}
    
              <br><br>
    
              {{form.current_unit.label_tag}}
              {{form.current_unit}}
    
              <br><br>
    
              {{form.consumed_unit.label_tag}}
              {{form.consumed_unit}}
            </div>
          </div>
        </div>
        <br>
        <hr>
    
        <div class="row">
          <div class="column">                    
            <label class="container">Green
              <input type="radio" checked="checked" name="radio" class = "radio-button">
              <span class="checkmark"></span>
            </label><br> <br><br>
            
            <label class="container">Red
              <input type="radio" checked="checked" name="radio" class = "radio-button">
              <span class="checkmark"></span>
            </label>
            <!-- <label class="container">Green
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark"></span>
            </label><br> <br><br>
            
            <label class="container">Red
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark"></span>
            </label><br><br> -->
          </div>
        </div>
        <br>
        <hr>
    
        <div class="row">
          <div class="column">
            <div class="form-group">
              {{form.bill_amount.label_tag}}
              {{form.bill_amount}}
    
              <br><br>
    
              {{form.discount_amount.label_tag}}
              {{form.discount_amount}}
              
    
              <br><br>
    
              {{form.penalty.label_tag}}
              {{form.penalty}}
    
              <br><br>
    
              {{form.total_amount.label_tag}}
              {{form.total_amount}}
    
              <div class="column">
                <div class="form-group">
    
                  <button class="button" name="submit" value="Submit" />Submit</button>
                </div>
              </div>
    
            </div>
          </div>
       
      </div>
      </form>

      

    <!-- <h2 align="center">Payment</h2>
      <br /><br />
      <select name="province" id="province" class="form-control input-lg">
        <option value="">Select province</option>
      </select>
      <br />
      <select name="district" id="district" class="form-control input-lg">
        <option value="">Select district</option>
      </select>
      <br />
      <select
        name="municipality"
        id="municipality"
        class="form-control input-lg"
      >
        <option value="">Select municipality</option>
      </select> -->

    <script src="{% static 'user_view/js/payment.js' %}"></script>
    {% endblock %}
  </body>
</html>
