<!DOCTYPE html>
<html>

<head>
    <title>Routine</title>
    <link rel="stylesheet" href="routine.css">
</head>

<body>
    <div class="box">
        <h3><a href="">Online Information</a> > Routine</h3>
        <div class="row">
            <div class="column">
                <div class="form-group">

                    <label>Office code:</label>
                    <input placeholder="office code">

                    <label>Province:</label>
                    <input placeholder="Province">

                    <label>District:</label>
                    <input placeholder="District">

                    <label>Municipality:</label>
                    <input placeholder="Municipality">

                    <label>Routine:</label>
                    <textarea class="routine" rows="10" cols="34"></textarea>

                    <div class="column">
                        <div class="form-group">
                            <button class="button">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>