{% extends 'baseAdmin.html' %}
  

  
  {% block content %}
  

<div class="container">
  <a href="{% url 'admin_view:addpost' %}" class="btn btn-secondary">New Post &rarr;</a>
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
        {% for post in object_list %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">
              {{ post.author }} | {{ post.created_on}} <a href="{% url 'admin_view:post_updateview' post.slug  %}" class="btn btn-secondary">Update &rarr;</a>
            </p>
            <p class="card-text">{{post.content|slice:":200" }}</p>
            <a
              href="{% url 'admin_view:post_detailview' post.slug  %}"
              class="btn btn-primary"
              >Read More</a
            >
            <a
            href="{% url 'admin_view:post_deleteview' post.slug  %}"
            class="btn btn-danger"
            >Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
    </div>
  </div>
  {% endblock content %}