{% extends 'baseAdmin.html' %}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
 

{% block content %}
    <h1 class="display-4"> Payment History</h1>
    
   
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Month</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Consumed Unit</th>
          <th scope="col">Bill Amount</th>
          <th scope="col">Discount</th>
          <th scope="col">Penalty</th>
          <th scope="col">Payment Time</th>
          <th scope="col">Total Amount</th>
       
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        
        
        <tr>
          <th scope="row">{{object.customer_id}}</th>
          <td>{{object.customer_name}}</td>
          <td>{{object.reading_month}}</td>
          <td>{{object.phone_num}}</td>
          <td>{{object.consumed_unit}}</td>
          <td>{{object.bill_amount}}</td>
          <td>{{object.discount_amount}} %</td>
          <td>{{object.penalty}}</td>
          <td>{{object.timestamp}}</td>
          <td style="color:red;">{{object.total_amount}}</td>
         
        </tr>
      
        {% endfor %}
        
      </tbody>
    </table>
    
{% endblock %}