{% extends 'baseAdmin.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
      <div class="card-body">
        <form method="post">
          <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text">{{ object.content | safe }}</p>
          <a
            href="{% url 'admin_view:post_updateview' post.slug  %}"
            class="btn btn-secondary"
            >Update &rarr;</a
          >
          <a
            href="{% url 'admin_view:post_deleteview' post.slug  %}"
            class="btn btn-danger"
            >Delete</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
