{% extends 'baseAdmin.html' %} {% block css_files %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<title>Document</title>
{% endblock %} {% block content %}
<h1 class="display-4">User Details</h1>
<a href="{% url 'admin_view:user_csv'%}" class="btn btn-danger">Print CSV</a>
<div class="container p-3 my-3 bg-white text-black">
  Total Users: {{object_list.count|add:"-1"}}
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">House No.</th>
      <th scope="col">Customer ID</th>
      <th scope="col">Address</th>
      <th scope="col">Last Login</th>
      <th scope="col">Profile Image</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %} {% if not object.user.is_superuser %}

    <tr>
      <th scope="row">{{object.user.first_name}}</th>
      <td>{{object.user.last_name}}</td>
      <td>{{object.user.email}}</td>
      <td>{{object.user.username}}</td>
      <td>{{object.house_no}}</td>
      <td>{{object.customer_id}}</td>
      <td>{{object.address}}</td>
      <td>{{object.user.last_login}}</td>
      <td>
        <img
          src="{{ object.image.url }}"
          class="avatar img-circle img-thumbnail"
          alt="avatar"
        />
      </td>
      <td>
        <a
          href="{% url 'admin_view:user_update' object.pk %}"
          class="btn btn-info"
          >Update</a
        >
        <a
          href="{% url 'admin_view:user_delete' object.pk %}"
          class="btn btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    {%endif %} {% endfor %}
  </tbody>
</table>

{% endblock %}
