* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: white;
  height: 100vh;
  background-color: #0000ff;
}

h2 {
  color: #000;
  height: 100vh;
  padding-top: 50px;
}

#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  height: 540px;
  width: 423px;
  padding: 7px 7px 7px 7px;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 1px transparent;
  border-radius: 2%;
}

.form {
  z-index: 1;
  /* font-family: "Poppins", sans-serif; */
  position: absolute;
  width: 320px;
  text-align: center;
}

.form i {
  /*Logo colour*/
  z-index: 1;
  color: #ccc;
  font-size: 65px;
  margin-bottom: 30px;
}

.form .user-input {
  width: 320px;
  height: 50px;
  margin-top: 34px;
  outline: none;
  bottom: none;
  background: #d3d3d3;
  color: black;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form.options-01 {
  font-weight: bold;
  color: #000;
  font-size: 15px;
}

.form .options-01 a {
  text-decoration: underline;
  font-weight: bold;
  color: #0000ff;
}


.form .options-02 {
  font-weight: bold;
  color: #000;
  font-size: 15px;
  margin-top: 30px;
}

.form .options-02 a {
  padding-left: 10px;
  text-decoration: underline;
  color: #0000ff;
}

.form .btn {
  margin-top: 15px;
  outline: none;
  border: none;
  width: 100px;
  height: 55px;
  background: #000000;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

/* Responsive CSS */

@media screen and (max-width: 500px) {

  /*Fits page according to the screen*/
  .form {
    width: 95%;
  }

  .form .user-input {
    width: 100%;
  }

  .form .btn {
    width: 100%;
  }
}