* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  color: white;
  background-color: #0000ff;
}

h2 {
  color: #000;
  margin-top: 30px;
  height: 100vh;
}

#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  height: 90%;
  width: 456px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px 10px 10px;
  transform: translate(-50%, -50%);
  border: 1px transparent;
  border-radius: 2%;
  background-color: #fff;
}

.form {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: center;
  margin-top: 50px;
}

.form i {
  /*Logo colour*/
  z-index: 1;
  color: #ccc;
  font-size: 37px;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-form .user-input {
  justify-content: center;
  margin-right: 3px;
  margin-left: 3px;
  width: 320px;
  height: 40px;
  margin-bottom: 25px;
  outline: none;
  border: none;
  background: #d3d3d3;
  color: #000;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .btn {
  justify-content: center;
  padding: auto;
  margin-left: 33%;
  margin-top: 1px;
  display: flex;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  background: #000000;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .options {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-top: 25px;
}

.form .options a {
  padding-left: 10px;
  color: #0000FF;
  text-decoration: underline;
}

/* Responsive CSS */

@media screen and (max-width: 500px) {

  /*Fits page according to the screen*/
  .form {
    width: 95%;
  }

  .form .user-input {
    width: 100%;
  }

  .form .btn {
    width: 100%;
  }
}
