.wbs{
    font-size: 292%;
    margin-left: 37%;
    width: 30%;
    height: 1%;
}

.img1{
    position: absolute;
    top: 0px;
    left: 0px;
}

.img2{
    position: absolute;
    top: 0px;
    right: 0px;
}

.img3{
    position: absolute;
    top: 150px;
    left: 15px;
}

.img4{
    position: absolute;
    top: 670px;
    left: 1000px;
}

.routine{
    font-weight: bolder;
    position: absolute;
    top: 700px;
    left: 90px;
}

.link{
    font-weight: bolder;
    position: absolute;
    top: 760px;
    left: 15px;
}

.cont{
    position: absolute;
    left: 75%;
    color: black;
}

/* For navbar*/

body{
    margin:0;
    padding: 0;
}
nav{
    width: 100%;
    background: rgb(0, 0, 0);
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
li{
    float: left;
}
nav a{
    width: 100px;
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
}
nav a:hover{
    background:rgb(110, 110, 110);
    transition: 0.5s;
}



footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 12px;
    background-color: black;
    color: black;
}
footer h2{
    color: white;
    position: fixed;
    left: 45%;
}
p{
    color: #f2f2f2;
}